.about {
  background: url('../assets/background-1.jpg');
}

.about .container-content {
  display: grid;
  grid-template-columns: 53.3% 1fr;
  align-items: flex-end;
  padding-top: 1.25rem;
  padding-bottom: 1.563rem;
}

.about-form {
  color: var(--text-color-dark);
  background-color: white;
  padding: 1.563rem 2.188rem;
  border-radius: 8px;
  margin: 0 0.813rem;
}

.figure {
  color: white;
  margin-left: 1.5rem;
}

.figure h3 {
  margin-bottom: 0.625rem;
  text-align: start;
}

.conainer-figure {
  display: flex;
  justify-content: space-between;
}
