.about {
  background: linear-gradient(to bottom, rgba(68, 85, 102, 0), rgba(68, 85, 102, 0.75)), url('../assets/background-1.jpg') no-repeat;
  background-size: cover;
}

.about .container-content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2.7rem;
  flex-wrap: wrap;
  padding-top: 1.25rem;
  padding-bottom: 1.563rem;
}

.about-form-container {
  color: var(--text-color-dark);
  background-color: white;
  border-radius: 8px;
  margin-left: 0.813rem;
}

.figure {
  color: white;
}

.figure h3 {
  margin-bottom: 0.625rem;
  text-align: start;
}

.conainer-figure {
  display: flex;
  justify-content: space-between;
  gap: 2.64rem;
}

@media only screen and (max-width: 768px) {
  .about {
    background: none;
  }
}
