.display-data {
  padding: 3.25rem;
}

.display-data-header p {
  margin-top: 1.536rem;
  margin-bottom: 1.875rem;
}

.display-data-body-container {
  border-top: 1px solid var(--placeholder-color);
  max-width: 30rem;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: start;
  justify-content: center;
  gap: 3rem;
}

.container-label p,
.container-data h3 {
  margin-top: 1.25rem;
}
