.form {
  text-align: center;
  font-size: 1.125rem;
  text-align: end;
  padding-right: 4.125rem;
  margin-top: 0.624rem;
}

.form-item input {
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  border: 1px solid var(--placeholder-color);
  margin-top: 0.938rem;
  margin-left: 0.938rem;
  border-radius: 4px;
  width: 22.5rem;
  padding: 0.625rem;
}

.phone-input-group {
  width: 23.438rem;
  display: inline-flex;
}

#isd {
  width: 25%;
}

.form-item input:focus {
  outline-color: var(--button-color-primary);
}

.get-informed-button {
  text-align: center;
  margin-left: 7.35rem;
}

.get-informed-button button {
  color: white;
  background-color: var(--button-color-primary);
  font-size: 1.125rem;
  border: none;
  line-height: 1.56;
  width: 17.5rem;
  height: 3rem;
  border-radius: 4px;
  margin-top: 1.563rem;
}
