.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.938rem;
  font-size: 1.125rem;
  max-width: 28.25rem;
  margin-left: 0.812rem;
  /* padding-right: 4.125rem; */
}

.form-item,
.form-item-react-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.form label {
  width: 20%;
  margin-bottom: 0.4rem;
  text-align: end;
  padding-right: 0.938rem;
}

.form input,
.react-input select {
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  border: 1px solid var(--placeholder-color);
  border-radius: 4px;
  padding: 0.625rem;
}

.form input:focus,
.react-input select:focus {
  outline-color: var(--button-color-primary);
}

.form-item-input,
.react-input {
  width: 22.5rem;
}

.phone-input-group {
  display: flex;
  align-items: center;
}

/* react-phone-input component*/

.PhoneInput {
  display: flex;
  gap: 0.937rem;
}

.PhoneInputCountry {
  display: flex;
  align-items: center;
  position: relative;
  width: 25%;
}

.PhoneInput select {
  position: absolute;
  width: 100%;
  margin-left: 0;
}

.PhoneInput input {
  width: 85%;
}

.PhoneInputCountryIcon {
  width: 70%;
  padding-left: 16.8%;
  align-self: center;
  z-index: 10;
}

.PhoneInputCountryIconImg {
  display: block;
}

/* button */

.get-informed-button {
  text-align: center;
  padding-top: 0.624rem;
  margin-left: 5.35rem;
  /* align-self: center; */
}

.get-informed-button button {
  color: white;
  background-color: var(--button-color-primary);
  font-size: 1.125rem;
  border: none;
  line-height: 1.56;
  width: 17.5rem;
  height: 3rem;
  border-radius: 4px;
}
