.header {
  padding: 1.063rem 0;
  background-color: white;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.813rem;
}

.logo {
  width: 10.125rem;
  height: auto;
  object-fit: contain;
}

nav {
  width: 60%;
  color: var(--text-color-light);
}

.container-nav {
  display: flex;
  justify-content: space-between;
}
