.header {
  padding-top: 1.063rem;
  padding-bottom: 1.063rem;
  background-color: white;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 69.374rem;
}

.header .logo {
  display: var(--nav-logo-display);
  width: 10.125rem;
  height: auto;
  object-fit: contain;
}

.header .logo-m {
  display: var(--nav-logo-m-display);
  width: 6.438rem;
  height: auto;
  object-fit: contain;
}

nav {
  color: var(--text-color-light);
}

.container-nav-l {
  display: var(--nav-container-l-display);
  gap: 2em;
  justify-content: space-between;
}

.container-nav-m {
  display: var(--nav-container-m-display);
  flex-direction: column;
  justify-content: space-between;
  width: 1.75rem;
  height: 1.313rem;
  text-align: end;
}

.toggle {
  border: 1px solid var(--placeholder-color);
  height: 1px;
}

.nav-select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  background-color: white;
}

.nav-select:hover {
  color: var(--button-color-primary);
}

.nav-select:focus {
  outline-style: none;
}
