.how-it-works {
  background: white;
  color: var(--text-color-dark);
  margin: 0.625rem 0;
}

.how-it-works .container-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.3%;
  padding: 1.875rem 0;
}

.how-it-works .container-content img {
  width: auto;
  height: 5rem;
}
