#how-it-works {
  background: white;
  color: var(--text-color-dark);
  margin: 0.625rem 0;
}

#how-it-works .container-content {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1.875rem 0;
}

.how-it-works-item {
  flex: 0 1 30%;
  min-width: 13.75rem;
}

.how-it-works-item-img img {
  width: auto;
  height: 5rem;
  margin: 0 auto;
  text-align: center;
}
