.why-snubes {
  background: url('../assets/background-2.jpg');
  background-size: cover;
  margin: 0.625rem auto;
  padding: 3.75rem;
  color: var(--text-color-dark);
  text-align: start;
}

.why-snubes .container-content {
  max-width: 41.25rem;
}

.why-snubes h3 {
  margin-top: 2.5rem;
}
