:root {
  --text-color-dark: #445566;
  --text-color-light: #7f7f7f;
  --background-color-light: #f9f9f9;
  --background-color-dark: #4a4a4a;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  text-align: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background-color-light);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.38;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.36;
}

p,
h3 {
  font-size: 1.125rem;
  line-height: 1.56;
}

.container-content {
  max-width: 1200px;
  margin: 0 auto;
}
