:root {
  --text-color-dark: #445566;
  --text-color-light: #7f7f7f;
  --background-color-light: #f9f9f9;
  --background-color-dark: #4a4a4a;
  --placeholder-color: #aabbcc;
  --button-color-primary: #0099ee;
  --nav-container-l-display: flex;
  --nav-container-m-display: none;
  --text-align-figure-h3: start;
  --inner-margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  text-align: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--background-color-light);
}

a {
  text-decoration: none;
  color: var(--text-color-light);
}

a:hover {
  color: var(--button-color-primary);
  cursor: pointer;
}

a:active {
  color: var(--button-color-primary);
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.38;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.36;
}

p,
h3 {
  font-size: 1.125rem;
  line-height: 1.56;
}

.container-content {
  max-width: 1200px;
  margin: var(--inner-margin);
}

/* media query */
@media only screen and (max-width: 1000px) {
  :root {
    --nav-container-l-display: none;
    --nav-container-m-display: flex;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    --inner-margin: 0 0.938rem;
  }

  .header {
    padding: 0.813rem 0 0.688rem 0;
    border-bottom: 1px solid var(--placeholder-color);
  }

  .header .container-header {
    width: 100%;
  }

  .about {
    background: white;
  }

  .about .container-content {
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .about-form-container {
    width: 100%;
    margin-left: 0;
    border-bottom: 0.625rem solid var(--background-color-light);
  }

  .about-form {
    padding: 1.875rem 6.875rem 2.5rem 7.125rem;
  }

  .figure {
    background: linear-gradient(rgba(68, 85, 102, 0.75), rgba(68, 85, 102, 0.75)), url('./assets/background-1.jpg') no-repeat;
    background-color: rgba(68, 85, 102, 0.75);
    background-size: cover;
    width: 100%;
    padding: 2.813rem 7.25rem 2.875rem 7.25rem;
  }

  .figure h3 {
    text-align: center;
  }

  #how-it-works .container-content {
    padding: 1.875rem 0.938rem;
  }

  .why-snubes .container-content {
    padding: 2.5rem 15.187rem 1.5rem 0.938rem;
  }

  .partners .container-content {
    padding: 3.75rem 0.312rem 2.5rem 0.312rem;
  }

  .partners-logo img {
    height: 1.75rem;
    width: auto;
  }

  .footer .container-content {
    padding: 4.25rem 0.312rem 3.813rem 1.5rem;
  }
}

@media only screen and (max-width: 686px) {
  /* .form {
    align-items: center;
  } */

  .form label,
  .form-item-input,
  .react-input {
    flex-grow: 1;
    text-align: start;
  }

  .get-informed-button {
    margin-left: 0;
  }
}
